## Tuple

In [1]:
a=23,5,6,21,3

In [2]:
type(a)

tuple

In [3]:
a,b=10,12

In [4]:
a,b=b,a

In [5]:
b

10

In [6]:
a

12

## Set

In [7]:
s={12,5,12,7,13,5}
len(s)

4

In [8]:
s[1]

TypeError: 'set' object is not subscriptable

In [9]:
s

{5, 7, 12, 13}

In [10]:
s.add(6)

In [11]:
s

{5, 6, 7, 12, 13}

In [12]:
type(s)

set

In [13]:
s.add(12.5)

In [14]:
s

{5, 6, 7, 12, 12.5, 13}

In [15]:
a={12,5,7,13,6}
b={7,13,15,2,1}
a.union(b)

{1, 2, 5, 6, 7, 12, 13, 15}

In [16]:
a.intersection(b)

{7, 13}

In [17]:
a.difference(b)

{5, 6, 12}

In [18]:
b.difference(a)

{1, 2, 15}

In [19]:
s={x*x for x in range(-5,5)}
s

{0, 1, 4, 9, 16, 25}

In [20]:
len(s)

6

In [21]:
d={'ram':25,'sam':22,'jadu':15,'madhu':17,'tom': 30}

In [22]:
d['ram']

25

In [23]:
d['jerry']=22
d

{'ram': 25, 'sam': 22, 'jadu': 15, 'madhu': 17, 'tom': 30, 'jerry': 22}

In [24]:
for i in d:
    print(f"{i} has got {d[i]}")

ram has got 25
sam has got 22
jadu has got 15
madhu has got 17
tom has got 30
jerry has got 22

In [25]:
d={('ram','sharma'):[12,5,7],('sam','barma'):[13,6,9],('jadu','guha'):[2,1,3]}

In [26]:
d

{('ram', 'sharma'): [12, 5, 7],
 ('sam', 'barma'): [13, 6, 9],
 ('jadu', 'guha'): [2, 1, 3]}

In [27]:
d['ram','sharma']

[12, 5, 7]

In [28]:
a=["physics", "math","chem"]

In [30]:
for x in range(len(d)):
    for i,j in d:
        print(f"{i} {j} has got {d[i,j][x]} in {a[x]}")

ram sharma has got 12 in physics
sam barma has got 13 in physics
jadu guha has got 2 in physics
ram sharma has got 5 in math
sam barma has got 6 in math
jadu guha has got 1 in math
ram sharma has got 7 in chem
sam barma has got 9 in chem
jadu guha has got 3 in chem