## Data Sturcture in python

## range
## list
## tuple
## set
## dict

## Features of each data structures:-

## indexing
## slicing
## immutability
## hasahable
## iterable

## range:-

In [1]:
r= range(12,1000000,5)
type(r)

range

In [2]:
len(r)

199998

In [3]:
r[5]

37

In [4]:
r[2:7]

range(22, 47, 5)

In [5]:
r[2:7][-1]  ## first part slicing of range r and then calling the index in second[]

42

In [6]:
hash(r)

5196985075694018787

## for loop in python works with only iterable data structures

In [7]:
s="python"
for x in s:
    print(x)

p
y
t
h
o
n

## if i have to move through a data structure using indexes we will put the data structures in range()

In [10]:

for i in range(len(s)-1,-1,-1):
    print(s[i])

n
o
h
t
y
p

## for reverse range use -1 as common difference of range() and starting address should be last and ending address shold be first

In [12]:
r2=range(5,0,-1)
r2

range(5, 0, -1)

In [14]:
r[0]

12

In [15]:
r2[0]

5

In [16]:
r2[1]

4

## list

# list is finite of heterogenious item

In [17]:
a=['ram',12,'sam',5,'jadu',7,'madhu',13]
a[1]=24
a

['ram', 24, 'sam', 5, 'jadu', 7, 'madhu', 13]

In [18]:
a.append('hari')
a.append(6)
a

['ram', 24, 'sam', 5, 'jadu', 7, 'madhu', 13, 'hari', 6]

In [19]:
a.insert(4,'tom')
a.insert(5,15)
a

['ram', 24, 'sam', 5, 'tom', 15, 'jadu', 7, 'madhu', 13, 'hari', 6]

In [20]:
a.pop()

6

In [21]:
a

['ram', 24, 'sam', 5, 'tom', 15, 'jadu', 7, 'madhu', 13, 'hari']

In [22]:
a.pop()

'hari'

In [23]:
a

['ram', 24, 'sam', 5, 'tom', 15, 'jadu', 7, 'madhu', 13]

In [24]:
a.pop(4)

'tom'

In [25]:
a

['ram', 24, 'sam', 5, 15, 'jadu', 7, 'madhu', 13]

In [26]:
a.pop(4)

15

## lists can be concatinated or mix to form a new list

In [27]:
a

['ram', 24, 'sam', 5, 'jadu', 7, 'madhu', 13]

In [28]:
b=a+['tom',15]
b

['ram', 24, 'sam', 5, 'jadu', 7, 'madhu', 13, 'tom', 15]

In [29]:
a

['ram', 24, 'sam', 5, 'jadu', 7, 'madhu', 13]

In [30]:
a+=['raj',25]
a

['ram', 24, 'sam', 5, 'jadu', 7, 'madhu', 13, 'raj', 25]

In [31]:
hash(a) # lists are not hashable

TypeError: unhashable type: 'list'

In [32]:
for j in a:
    print(j)

ram
24
sam
5
jadu
7
madhu
13
raj
25

In [33]:
for i in range(0,len(a)-1,2):
    print(f"{a[i]} has got {a[i+1]}")

ram has got 24
sam has got 5
jadu has got 7
madhu has got 13
raj has got 25